We loaded the data while specifying the encoding since it produced an error

In [28]:
import pandas as pd

df = pd.read_csv("./Data/AviationData.csv", encoding='ISO-8859-1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

c:\Users\Eddie\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

## Columns to remove

We decided on deleting columns that don't hold much significance in determining which aircraft are safe to invest in.
The ones we decided on initially are:  
Airport.Code  
Airport.Name  
Latitude   
Longitude
Total.Minor.Injuries  
Total.Uninjured    
Publication.Date    
Total.Fatal.Injuries  
Schedule  
Broad.phase.of.flight
Accident.Number  
Event.Id  
FAR.Description  
Registration.Number	 
Report.Status

In [30]:
columns_to_drop = ['Airport.Code',  
'Airport.Name',  
'Latitude',   
'Longitude',  
'Total.Minor.Injuries',
'Total.Uninjured',
'Publication.Date', 
'Broad.phase.of.flight',
'Total.Fatal.Injuries',
'Schedule',  
'FAR.Description',  
'Registration.Number',
'Accident.Number',
'Event.Id',
'Report.Status']
test = df

test.drop(columns = columns_to_drop, inplace=True)

## Reformatting text

We found that some columns have text with differing punctuation or capitalization, causing them to be recognized as separate entries. For example, in the 'Make' category, Cessna and CESSNA are considered different categories.   
In order to fix this, we will go through and strip leading and trailing whitespace and make them similar case.  

Another change we are making is to separate the Location column into two separate columns, since the capitalization is not consistent and having the state abbreviation on its own will make it easier to access

In [ ]:
#Format Make column, some vals are floats so cast to string first
test['Make'] = df['Make'].map(lambda x: str(x).strip().title())

#Split Location into two columns and drop the original, then strip and case all 
test[['City', 'State']] = test['Location'].str.split(',', n=1, expand=True)
test.drop(columns = ['Location'], inplace=True)

In [32]:
test

,Investigation.Type,Event.Date,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Serious.Injuries,Weather.Condition,City,State
0,Accident,1948-10-24,United States,Fatal(2),Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,Personal,NaN,0.0,UNK,MOOSE CREEK,ID
1,Accident,1962-07-19,United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,Personal,NaN,0.0,UNK,BRIDGEPORT,CA
2,Accident,1974-08-30,United States,Fatal(3),Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,Personal,NaN,NaN,IMC,Saltville,VA
3,Accident,1977-06-19,United States,Fatal(2),Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,Personal,NaN,0.0,IMC,EUREKA,CA
4,Accident,1979-08-02,United States,Fatal(1),Destroyed,NaN,Cessna,501,No,NaN,NaN,Personal,NaN,2.0,VMC,Canton,OH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,Accident,2022-12-26,United States,Minor,NaN,NaN,Piper,PA-28-151,No,NaN,NaN,Personal,NaN,1.0,NaN,Annapolis,MD
88885,Accident,2022-12-26,United States,NaN,NaN,NaN,Bellanca,7ECA,No,NaN,NaN,NaN,NaN,0.0,NaN,Hampton,NH
88886,Accident,2022-12-26,United States,Non-Fatal,Substantial,Airplane,American Champion Aircraft,8GCBC,No,1.0,NaN,Personal,NaN,0.0,VMC,Payson,AZ
88887,Accident,2022-12-26,United States,NaN,NaN,NaN,Cessna,210N,No,NaN,NaN,Personal,MC CESSNA 210N LLC,0.0,NaN,Morgan,UT
88888,Accident,2022-12-29,United States,Minor,NaN,NaN,Piper,PA-24-260,No,NaN,NaN,Personal,NaN,1.0,NaN,Athens,GA